:root {
    --color-one:#2E2F42;
    --color-two:#434455;
    --color-inverted:#ffffff;
    --color-variable: #4D5AE5 ;
    --color-lightblue: #404BBF;
    --color-lighter: #F4F4FD;
    --color-light: #E7E9FC;
    --font-size16: 16px;
    --font-size56: 56px;
    --font-size36: 36px;
    --font-size18: 18px;
    --font-weight400: 400;
    --font-weight500: 500;
    --font-weight700: 700;
    --font-weight800: 800;
    --line-height1: 1;
    --line-height15: 1.5;
}

/*index*/
.header {
    background-color: var(--color-inverted);
    border-bottom: 1px solid var(--color-light);
    text-align: left;
    font-size: var(--font-size16);
    font-weight: var(--font-weight500);
    line-height: var(--line-height15);
    cursor: pointer;
    text-decoration: none;
}

.shrift {
    font-family: 'Raleway', sans-serif;
    color: var(--color-one);
}

.link {
    color: var(--color-two);
}

.link:hover {
    color: var(--color-lightblue);
}

.shrift:hover {
    background-color: var(--color-variable);
}

body {
    font-family:'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: var(--font-size16);
    line-height: var(--line-height1);
}


.hero {
background-color: var(--color-one);
color: var(--color-inverted);
text-align: center;
font-size: var(--font-size56);
font-weight: var(--font-weight700);
}

.button-one {
    background-color: var(--color-variable);
    color: var(--color-inverted);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    font-size: var(--font-size16);
    font-weight: var(--font-weight500);
    line-height: var(--line-height15);
    cursor: pointer;
}

.button-one:hover {
    background-color: var(--color-variable);
}


.section-one {
    background-color:var(--color-inverted);
    text-align: left;
}

.section-two {
    background-color: var(--color-inverted);
    border: 1px;
    text-align: center;
    font-size: var(--font-size36);
    font-weight: var(--font-weight700);
}

.color-one {
    color: var(--color-one);
    font-weight: var(--font-weight500);
}

.color-two {
    color: var(--color-two);
    font-weight: var(--font-weight400);
}

.team {
    background-color: var(--color-inverted);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    text-align: center;
    font-size: var(--font-size36);
    font-weight: var(--font-weight700);
}

.last-section {
background-color: var(--color-lighter);
}

.footer {
    background-color: var(--color-one);
    color: var(--color-lighter);
    text-align: left;
    font-size: var(--font-size18);
    font-weight: var(--font-weight800);
}

.footer-text {
    color: var(--color-light);
    line-height: var(--line-height15);
    font-weight: var(--font-weight400);
}

/*portfolio*/

.header:hover {
    text-decoration: underline;
}

.button-sectionone {
    background-color: transparent;
    color: var(--color-variable);
    text-align: center;
    border: 1px solid var(--color-light);
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    font-size: var(--font-size16);
    font-weight: var(--font-weight500);
    line-height: var(--line-height15);
    cursor: pointer;
}

.button-sectionone:hover {
    background-color: var(--color-lightblue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.cards {
    background-color: var(--color-inverted);
    border: 1px solid var(--color-light);
    text-align: left;
}

